*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*----Body----*/
body{
    display: flex;
    flex-direction: column;
}
/*----Header----*/
header{
    background-color: #f5b8f5;
    display: flex;
    padding: 20px 5px;
    flex-direction: column;
}
h1{
    text-align: center;
}
.link2{
    margin-bottom: 20px;
    text-align: right;
}
nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
}
nav ul li a {
    display: flex;
    font-size: 16px;
    text-decoration: none;
    color: darkred;
    padding: 10px;
}
/*---Hover---*/
nav ul li a:hover{
    background-color: aliceblue;
    color: black;
}
/*---Main---*/
main{
    display: flex;
    background-color: #f7f7f7;
    flex-direction: column;
}
h2{
    text-align: center;
    text-decoration: underline;
}
section{
    text-align:justify;
}
/*---Index---*/
.minino{
    display: flex;
    justify-content: center;
}
.blanquito{
    max-width: 100%;
}
/*---Adoptar---*/
.videocat{
    width: 100%;
}
.cat1{
    text-align: center;
}
/*---Donacion---*/
.cuerpo{
    display: grid;
    grid-template-columns:repeat(2, 50%);
    gap: 30px;
}
.ester1{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
} 
.ester2{
    width: 86%;
    margin: 20px;
}
/*---Carrusel---*/
.ester3{
    width: 75%;
    margin: 70px;
}
/*---Footer---*/
.mapa{
    display: flex;
    justify-content: center;
    max-width: 100%;
}
main iframe {
    width: 100%;
}
footer{
    display: flex;
    background-color: #f0aedf;
    flex-direction: column;
}
/*---Responsive---*/
@media (max-width: 450px) {
    nav ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
@media (max-width: 720px) {
    .cuerpo {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}