@use 'base/reset';
@use 'base/generales';
@use 'components/carrusel';
@use 'layout/header';
@use 'layout/main';
@use 'layout/footer';
@use 'layout/adoptar';
@use 'layout/donacion';
@use 'layout/aside';
@use 'layout/home';
@use 'layout/denuncias';
@use 'layout/media-550';
@use 'layout/media-720';
@use 'layout/media-890';
@use 'utilities/variables';
@use 'utilities/mixins';