@use '../utilities/mixins' as*;
.cuerpoadopcion {
    background-color: rgb(231, 148, 192);
    .adopcionescat {
        display: flex;
        justify-content: space-around;
        margin: 25px;
        @include text-a;
        .img1{
            width: 40%;
            height: 400px;
            border-radius: 30px;
        }
        .adopt1{
            background-color: antiquewhite;
            border-radius: 5%;
            justify-content: space-around;
            width: 40%;
            padding: 10px;
            @include flex;
            @include align;
            @include text-a;
        }
    }
}
.videocat{
    @include flex-just;
    @include pad;
    max-width: 100%;
}
