@use '../utilities/mixins' as*;
.cuerpo{
    display: grid;
    grid-template-columns:repeat(2, 50%);
    gap: 30px;
    .ester1{
        @include flex;
        @include align;
        @include pad;
    }
    .ester2{
        width: 86%;
        margin: 20px;
    } 
}
