@use '../utilities/mixins' as*;
.cuerpo{
    display: grid;
    grid-template-columns:repeat(2, 50%);
    gap: 30px;
    .ester1{
        @include flex;
        @include align;
        @include pad;
    }
    .ester2{
        width: 86%;
        margin: 20px;
    } 
}
.boton {
    background-color: rgb(245, 144, 245);
    border-radius: 10px;
    border-color: rgb(245, 144, 245);
    font-size: 19px;
    padding: 4px;
    &:hover{
        background-color: rgb(247, 247, 247);
        color: rgb(24, 23, 23);
        border-radius: 20px;
        box-shadow: 5px 5px 10px rgb(14, 13, 13);
        border-color: aliceblue;
    }
}