.cuerpo{
    display: grid;
    grid-template-columns:repeat(2, 50%);
    gap: 30px;
    .ester1{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 50px;
    }
    .ester2{
        width: 86%;
        margin: 20px;
    } 
}
