@use '../utilities/variables';
@use '../utilities/mixins' as*;
header{
    @include flex;
    background-color: variables.$color-fondo;
    padding: 20px 5px;
    nav {
        ul  {
            list-style: none;
            display: flex;
            justify-content: space-around;
            li a{
                display: flex;
                font-size: 16px;
                text-decoration: none;
                color: darkred;
                padding: 10px;
                &:hover{
                    background-color: aliceblue;
                    color: black;
                }
            }
        }
    }
    h1{
        @include text-a;
    }
    .link2{
        margin-bottom: 20px;
        text-align: right;
    }
}