@use '../utilities/variables';
@use '../utilities/mixins' as*;
header{
    @include flex;
    background-color: variables.$color-fondo;
    padding: 20px 5px;
    border-radius: 95px;
    nav {
        ul  {
            list-style: none;
            display: flex;
            justify-content: center;
            li a{
                @include flex;
                @include align;
                font-size: 18px;
                text-decoration: none;
                color: darkred;
                margin: 15px;
                padding: 7px;
                width: 140px;
                background-color: white;
                border-radius: 10px;
                &:hover{
                    background-color: aliceblue;
                    color: black;
                    border-radius: 10px;
                    box-shadow: 5px 5px 10px grey;
                }
            }
        }
    }
    h1{
        @include text-a;
        @include pad;
    }
}