main{
    display: flex;
    background-color: #f7f7f7;
    flex-direction: column;
    h2{
        text-align: center;
        text-decoration: underline;
    }
    section{
        text-align:justify;
    }
}
