@use '../utilities/variables';
@use '../utilities/mixins' as*;
main{
    @include flex;
    background-color: variables.$color-1;
    h2 {
        @include text-a;
        text-decoration: underline;
    }
    .esqcat2 {
        @include flex;
        @include align;
        @include text-a;
        padding: 20px 10px;
    }
}
p {
    width: 70%;
}