@use '../utilities/variables';
@use '../utilities/mixins' as*;
main{
    @include flex;
    background-color: variables.$color-1;
    h2{
        @include text-a;
        text-decoration: underline;
    }
    section{
        text-align:justify;
        @include pad;
    }
}
