@use '../utilities/mixins' as*;
@media (max-width: 890px) {
    nav ul {
        @include flex; 
        @include align;
    }
    .adopcionescat{
        flex-direction: column;
        align-items: center;
        width: 80vw;
    }
}
